.Pages{
    background-color: aliceblue;
}
.pagechoice{
    float: left;
}
.record{
    float:left;
}
.asideMenu{
    width: 100%;
    height: 100%;
    background-color: aqua;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .Editmode{
      float: right;
  }